body{
    font-family: 'Tajawal', sans-serif;
    margin: 0px;
}

nav{
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


footer {
    width: 100%;
    display: inline-block;
    background-color: #efefef;
    text-align: center;
    z-index: -1;
  }

#container{
    
    padding: 100px;
    position: relative;
   
}
.container{
    padding: 100px;
    position: relative; 
}

.whole-account {
    background-image: url('../images/2.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
    
}
.account-container {
    height: auto;
    width: auto;
    background-color: whitesmoke;
    max-width: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.account-header {
    margin: 0px;
    padding: 10px;
    color: white;
    background-color:  #333;
}
.account-body {
    padding: 30px;
}


.row {
    /* */
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.row-item {
    display: flex;
    padding: 1rem;
}
.item {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
}
.item-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}


.content-item{
    list-style: none;
    padding: 0px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-head {
    widows: 100%;
    height: 20px;
    padding: 20px;
    color: aliceblue;
    
}

.list-item {  
    background-color: lightgray;
    width: 100%;
    margin-bottom: 1px;
}

.list-image {
    flex: 1;
    align-self: flex-start;
    flex-grow: 0.5;
    height: 100% !important;
    width: 0.5rem !important;
}

.list-body {
    flex: 2;
    overflow: hidden;
    margin-left: 10px;
    flex-grow: 4;
}

.left-item {
    flex-grow: 3;
    flex-grow: 1;
}

.center-text {
    text-align: center;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.site-search{
    /*background-image: url('../images/3.jpg');*/
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-color: #231B3E;
    position: relative;
    margin: 0px;
    color: white;
    padding: 20px;
}
.search-input{
    margin: auto;
    display: block;
    position: relative;
    top: 100px;
    height: 50px;
    width: 50%;
}
.search-input:focus{
    outline: none;
    
}

.img-responsive{
    width: 100%;
    height: 100%;
}


.btn{
    height: 30px;
    width: 70px;
    background-color: royalblue;
    border: none;
    color: white;
}
.btn-orange {
    background-color: orange;
}
.btn:hover{
    cursor: pointer;
    background-color: blue; 
}

.form-input{
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
}

.form-input:focus{
    outline: none;
}

/* backend */

.dashboard-container {
    display: flex;
    margin: 0px;
    width: 100vw;
    max-width: 98vw;
    height: 100vh;
}
.db-con {
    padding: 50px;
}

.content  {
    width: 75%;
}

.sidebar  {
    background-color: grey;
    width: 25%;
}
.sidebar li {
    list-style: none;
}

.link-space {
    padding: 10px;
}

.link-space a {
    text-decoration: none;
    color:blue;
}
.sidebar a {
    color: rgb(15, 14, 14) !important;
}
.sidebar a:hover {
    color: rgb(73, 69, 69) !important;
}

.link-space a:hover {
    color: cadetblue;
}
.no-style {
    text-decoration: none;
}