body{
    font-family: 'Tajawal', sans-serif;
    margin: 0px;
}

nav{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


footer {
    width: 100%;
    display: inline-block;
    background-color: #efefef;
    text-align: center;
    z-index: -1;
    margin-top: 20px;
  }
  textarea{
    resize:none;
    height: 50px !important;
}
/*end of html elements*/



/*class and ID*/
.container{
    padding: 100px;
    position: relative; 
}

/*login page */
.whole-account {
    background-image: url('../images/meal.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}
.account-container {
    height: auto;
    width: auto;
    background-color: whitesmoke;
    max-width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px auto;
}
.account-header {
    margin: 0px;
    padding: 10px;
    color: white;
    background-color:  #333;
}
.account-body {
    padding: 30px;
}
/*end of login*/

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}
.row {
    /* */
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.row-item {
    display: flex;
    padding: 1rem;
}
.item {
    height: auto;
    width: 210px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
}
.item-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}


.content-item{
    list-style: none;
    padding: 0px;
    width: 100%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.list-head {
    widows: 100%;
    height: 3em;
    color: aliceblue;
    
}

.list-item {  
    background-color: lightgray;
    width: 100%;
    margin-bottom: 1px;
}

.list-image {
    flex: 1;
    align-self: flex-start;
    flex-grow: 0.5;
    height: 100% !important;
    width: 0.5rem !important;
}

.list-body {
    flex: 2;
    overflow: hidden;
    margin-left: 10px;
    flex-grow: 4;
}

.left-item {
    flex-grow: 3;
    flex-grow: 1;
}

.center-text {
    text-align: center;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.site-search{
    /*background-image: url('../images/3.jpg');*/
    background-size: cover;
    height: 50vh;
    background-color: #231B3E;
    position: relative;
    margin: 50px auto;
    color: white;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}
.search-body  {
    width: 50%;
    height: 50px;
    margin: auto;
}
.search-input{
    width: 100%;
    height: 50px;
}
.search-input::placeholder{
    font-size: 20px;
}
.search-input:focus{
    outline: none;
    height: 60px;
    transition: 1s;
}

.img-responsive{
    width: 100%;
    height: 100%;
}

.bg-dark {
    background-color: rgb(79, 84, 84);
}

.btn{
    height: 30px;
    width: auto;
    background-color: royalblue;
    border: none;
    color: white;
}
.btn-orange {
    background-color: orange;
}
.btn:hover{
    cursor: pointer;
    background-color: blue; 
}

.form-input{
    height: 30px;
    width: 95%;
    margin-bottom: 10px;
}

.form-input:focus  {
    outline: none;
    width: 100%;
    transition: 1s;
    color: darkgray;
    resize: none;
}
.form-input:focus::placeholder {
    color: black;
}

/* backend */

.dashboard-container {
    display: flex;
    margin: 50px auto;
    width: 100vw;
    max-width: 98vw;
    height: 100vh;
}
.db-con {
    margin: 15px;
}

.content  {
    width: 80%;
}

.sidebar  {
    background-color: #333;
    width: 15%;
}
.sidebar li {
    list-style: none;
}

.link-space {
    padding: 10px;
}

.link-space a {
    text-decoration: none;
    color:blue;
}
.sidebar a {
    color: white!important;
}
.sidebar a:hover {
    color: lightgrey !important;
}

.link-space a:hover {
    color: cadetblue;
}
.no-style {
    text-decoration: none;
}

.menu-list  {
    max-width: 50%;
}
.menu-item  {
    margin: 20px;
}
.menu-item:hover  {
    background-color: lightgrey;
}



.order-table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: none;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;  
}
.order-row  {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.order-row:hover  {
    background-color: lightgray;
}
    
.order-row-item{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    border: none;
    padding: 0.5em;
}

.footer {
    position: absolute;
    bottom: 0;
}
.space {
    margin-bottom: 20px;
}
/* modal*/
html,
body {
  height: 100%;
}

a {
  color: inherit;
}

.mcontainer {
  display: table;
  width: 100%;
  height: 100%;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-m {
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}



.customize-unpreviewable {
	text-transform: lowercase !important;
}
.menu-item {
	text-transform: lowercase !important;
}